<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/bulma.css' %}" />
    <style>
        .table, th, td {
            border: 1px solid black;
        }
        .body
        {
            background-color : lightblue;
        }
        .college
        {
            color : red;
        }
        .table{
            width : 60%;
            border: 3px solid black;
        }
        .topcorner{
            position:absolute;
            top:0;
            right:0;
        }
       tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
</head>
<body class = "body">
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
    </div>
  </div>
</section>
<div class = "topcorner">
    <a href="{% url 'defaul_matches_season' %}" class="button is-link is-warning">Seasons</a>
    {% if user.username %}
    <a href="{% url 'logout' %}" class="button is-danger">Logout</a>
    <a class="button is-link is-success">{{user.username}}</a>
    {% else %}
    <a href="{% url 'login' %}" class="button is-danger">Login</a>
    {% endif %}
</div>
    <select onChange="select_year()" aria-controls="dropdown-menu" aria-haspopup="true" class="dropdown is-active" >
    <option>Season</option>
    {% for opt in list %}
  <option value={{opt}}>{{opt}}</option>
    {% endfor %}
</select>
<table class="table" align = "center">
    <tr>
        <th>Team</th>
        <th>Matches Played</th>
        <th>Won</th>
        <th>Lost</th>
        <th>Tie</th>
        <th>Points</th>
    </tr>
    {% for team in teams %}
    <tr>
        <td>{{team.team}}</td>
        <td>{{tot_matches_each}}</td>
        <td>{{team.wins}}</td>
        <td>{{team.loses}}</td>
        <td>{{team.tie}}</td>
        <td>{{team.points}}</td>
    </tr>
    {% endfor %}
</table>
<script>
    function select_year()
    {
        var year = event.target.value;
        var urll = 'http://127.0.0.1:8000/iplapp/points'+'/'+ year;
        console.log(urll);
        window.location = urll;

    }
</script>
</body>
</html>